<div>
    <h5>Table of Contents</h5>
    <ol>
        <li><a class="text-primary" onclick="location.href='@Url.Action("EightBitProgramming_1", "Docs")'">Introduction to 8-Bit</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("EightBitProgramming_2", "Docs")'">Exploring the Instruction Set</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("EightBitProgramming_3", "Docs")'">Macros and Comments</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("EightBitProgramming_4", "Docs")'">Exploring the Binary</a></li>
        <li><a class="text-primary" onclick="location.href='@Url.Action("EightBitProgramming_5", "Docs")'">Your First Program</a></li>
    </ol>
</div>