@model PageNavHelperModel

<div class="row justify-content-between">
    <div class="col-auto">
        @{
            if (!String.IsNullOrEmpty(Model.PreviousView))
            {
                <a class="btn btn-primary" asp-area="" asp-controller="@Model.ControllerName" asp-action="@Model.PreviousView">Previous - @Model.PreviousViewDisplay</a>
            }
        }
    </div>
    @*<div class="col"></div>*@
    <div class="col-auto">
        @{
            if (!String.IsNullOrEmpty(Model.NextView))
            {
                if (Model.IsNewChapter)
                {
                    <a class="btn btn-danger" asp-area="" asp-controller="@Model.ControllerName" asp-action="@Model.NextView">Next - @Model.NextViewDisplay</a>
                }
                else
                {
                    <a class="btn btn-primary"  asp-area="" asp-controller="@Model.ControllerName" asp-action="@Model.NextView">Next - @Model.NextViewDisplay</a>
                }
            }

        }
    </div>
</div>